@use "sass:math";

$radius-rounded: 290486px !default;

$switch-width-base: 3em !default;
$switch-width-small: 2.5em !default;
$switch-width-large: 4em !default;
$switch-padding: 0.2em !default;

.switch {
    appearance: none;
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
    width: $switch-width-base;
    height: 1.5em;
    background-color: var(--bulma-border);
    border-radius: $radius-rounded;
    margin-right: 0.5em;
    vertical-align: middle;
    transition: background 0.3s ease;

    &::before {
        content: "";
        position: absolute;
        left: $switch-padding;
        top: $switch-padding;
        width: calc(1.5em - #{$switch-padding * 2});
        height: calc(1.5em - #{$switch-padding * 2});
        border-radius: $radius-rounded;
        background-color: var(--bulma-scheme-main);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
    }

    &:checked {
        background-color: var(--bulma-primary);

        &::before {
            left: calc(100% - 1.5em + #{$switch-padding});
        }
    }

    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-primary-rgb), 0.25);
    }

&:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: var(--bulma-border);
}

&.is-primary {
    &:checked {
        background-color: var(--bulma-primary);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-primary-rgb), 0.25);
    }
}

&.is-info {
    &:checked {
        background-color: var(--bulma-info);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-info-rgb), 0.25);
    }
}

&.is-success {
    &:checked {
        background-color: var(--bulma-success);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-success-rgb), 0.25);
    }
}

&.is-warning {
    &:checked {
        background-color: var(--bulma-warning);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-warning-rgb), 0.25);
    }
}

&.is-danger {
    &:checked {
        background-color: var(--bulma-danger);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-danger-rgb), 0.25);
    }
}

&.is-link {
    &:checked {
        background-color: var(--bulma-link);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-link-rgb), 0.25);
    }
}

&.is-dark {
    &:checked {
        background-color: var(--bulma-dark);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-dark-rgb), 0.25);
    }
}

&.is-light {
    &:checked {
        background-color: var(--bulma-light);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-light-rgb), 0.25);
    }
}

&.is-white {
    &:checked {
        background-color: var(--bulma-white);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-white-rgb), 0.25);
    }
}

&.is-black {
    &:checked {
        background-color: var(--bulma-black);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-black-rgb), 0.25);
    }
}

&.is-text {
    &:checked {
        background-color: var(--bulma-text);
    }
    &:focus {
        box-shadow: 0 0 0 0.125em rgba(var(--bulma-text-rgb), 0.25);
    }
}

&.is-small {
    width: $switch-width-small;
    height: 1.25em;

    &::before {
        width: calc(1.25em - #{$switch-padding * 2});
        height: calc(1.25em - #{$switch-padding * 2});
    }

    &:checked::before {
        left: calc(100% - 1.25em + #{$switch-padding});
    }
}

&.is-medium {
    width: $switch-width-base;
    height: 1.75em;

    &::before {
        width: calc(1.75em - #{$switch-padding * 2});
        height: calc(1.75em - #{$switch-padding * 2});
    }

    &:checked::before {
        left: calc(100% - 1.75em + #{$switch-padding});
    }
}

&.is-large {
    width: $switch-width-large;
    height: 2em;

    &::before {
        width: calc(2em - #{$switch-padding * 2});
        height: calc(2em - #{$switch-padding * 2});
    }

    &:checked::before {
        left: calc(100% - 2em + #{$switch-padding});
    }
}

+label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    line-height: 1.5em;
}

&.is-small+label {
    line-height: 1.25em;
}

&.is-medium+label {
    line-height: 1.75em;
}

&.is-large+label {
    line-height: 2em;
}

&.is-rounded {
    border-radius: $radius-rounded;

    &::before {
        border-radius: $radius-rounded;
    }
}

&.is-thin {
    height: 1em;

    &::before {
        height: calc(1em - #{$switch-padding * 2});
        width: calc(1em - #{$switch-padding * 2});
    }

    &:checked::before {
        left: calc(100% - 1em + #{$switch-padding});
    }

    &.is-small {
        height: 0.75em;

        &::before {
            height: calc(0.75em - #{$switch-padding * 2});
            width: calc(0.75em - #{$switch-padding * 2});
        }

        &:checked::before {
            left: calc(100% - 0.75em + #{$switch-padding});
        }
    }

    &.is-medium {
        height: 1.25em;

        &::before {
            height: calc(1.25em - #{$switch-padding * 2});
            width: calc(1.25em - #{$switch-padding * 2});
        }

        &:checked::before {
            left: calc(100% - 1.25em + #{$switch-padding});
        }
    }

    &.is-large {
        height: 1.5em;

        &::before {
            height: calc(1.5em - #{$switch-padding * 2});
            width: calc(1.5em - #{$switch-padding * 2});
        }

        &:checked::before {
            left: calc(100% - 1.5em + #{$switch-padding});
        }
    }
}

[dir="rtl"] & {
    &::before {
        left: auto;
        right: $switch-padding;
    }

    &:checked::before {
        left: auto;
        right: calc(100% - 1.5em + #{$switch-padding});
    }

    &.is-small:checked::before {
        right: calc(100% - 1.25em + #{$switch-padding});
    }

    &.is-medium:checked::before {
        right: calc(100% - 1.75em + #{$switch-padding});
    }

    &.is-large:checked::before {
        right: calc(100% - 2em + #{$switch-padding});
    }
}
}